  :root {
    --text: #6b6375;
    --text-h: #08060d;
    --bg: #fff;
    --border: #e5e4e7;
    --code-bg: #f4f3ec;
    --accent: #aa3bff;
    --accent-bg: rgba(170, 59, 255, 0.1);
    --accent-border: rgba(170, 59, 255, 0.5);
    --social-bg: rgba(244, 243, 236, 0.5);

    --shadow:
      rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    /* フォントサイズ初期値 */
    --button-font-size: 26px;
    --memo-font-size: 21px;
    --date-font-size: 18px;

    color: var(--text);
    background: var(--bg);

    font: 18px/145% var(--sans);
  }

  body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
  }

  h1,
  h2 {
    font-family: var(--heading);
    color: var(--text-h);
  }

  p {
    margin: 0;
  }

  /* ---------------- */
  /* テーマ共通        */
  /* ---------------- */

  .light {
    background: #ffffff;
    color: #222;
  }

  .dark {
    background: #16171d;
    color: #f3f4f6;
  }

  /* ---------------- */
  /* フォントサイズ    */
  /* ---------------- */

  .font-xs {
    --button-font-size: 18px;
    --memo-font-size: 14px;
    --date-font-size: 12px;
    --editor-font-size: 14px;
    --label-font-size: 14px;
    --memo-padding: 5px;
    --memo-min-height: 70px;
    --toolbtn-height:33px;
    --toolbar-height:42px;
    --toolbtn-font-size:10px;
  }

  .font-sm {
    --button-font-size: 22px;
    --memo-font-size: 18px;
    --date-font-size: 14px;
    --editor-font-size: 18px;
    --label-font-size: 16px;
    --memo-padding: 5px;
    --memo-min-height: 90px;
    --toolbtn-height:38px;
    --toolbar-height:56px;
    --editer-padding-top:100px
    --toolbtn-font-size:14px;
  }

  .font-md {
    --button-font-size: 26px;
    --memo-font-size: 21px;
    --date-font-size: 18px;
    --editor-font-size: 21px;
    --label-font-size: 18px;
    --memo-padding: 5px;
    --memo-min-height: 110px;
    --toolbtn-height:44px;
    --toolbar-height:52px;
    --toolbtn-font-size:12px;
  }

  .font-lg {
    --button-font-size: 32px;
    --memo-font-size: 26px;
    --date-font-size: 22px;
    --editor-font-size: 28px;
    --label-font-size: 20px;
    --memo-padding: 5px;
    --memo-min-height: 140px;
    --toolbtn-height:48px;
    --toolbar-height:56px;
    --toolbtn-font-size:16px;
  }

  .font-xl {
    --button-font-size: 36px;
    --memo-font-size: 32px;
    --date-font-size: 28px;
    --editor-font-size: 34px;
    --label-font-size: 24px;
    --memo-padding: 5px;
    --memo-min-height: 180px;
    --toolbtn-height:54px;
    --toolbar-height:60px;
    --toolbtn-font-size:20px;
    
  }